.idea
.phpunit.result.cache
build
composer.lock
coverage
phpunit.xml
phpstan.neon
testbench.yaml
vendor
node_modules
.DS_Store
.idea
html
*.DS_Store
.phpunit.cache
.git.backup
plugins/
.vscode
.cursorrules
.windsurfrules